
body {
    background-color: #73504E;
}

a:link, a:visited ,a:hover ,a:active {
    background-color: none;
    color:transparent;
    text-align: center;
    text-decoration: none;
    display: block;
}
.responsive {
    width: 100%;
    max-width: auto;
    height: auto;
    max-height: auto;
}

.roseta {
    width: 25%;
    max-width: 40%;
    height: auto;
    max-height: auto;
}
.back {
   width: 2%;
    max-width: 4%;
    height: auto;
    max-height: auto;
}



/*POPUP STYLES START 
 /* The Modal (background) */
.modal, {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content, {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.buttoni1 {
    background-color: red; /* Green */
    border: none;
    cursor: pointer;
    height:30px;
    width: 100px;
    display: block;
    position:absolute; left: 920px; top: 195px;
}  
.buttoni2 {
    background-color: thistle; /* Green */
    border: none;
    cursor: pointer;
   height:30px;
    width: 100px;
    display: block;
    position:absolute; left: 920px; top: 230px;
}  
.buttoni3 {
    background-color: sandybrown; /* Green */
    border: none;
    cursor: pointer;
    height:30px;
    width: 100px;
    display: block;
    position:absolute; left: 920px; top: 270px;
}  
.buttoni4 {
    background-color: aqua; /* Green */
    border: none;
    cursor: pointer;
    height:30px;
    width: 100px;
    display: block;
   position:absolute; left: 920px; top: 320px;
} 
.buttoni5 {
    background-color: firebrick; /* Green */
    border: none;
    cursor: pointer;
    height:30px;
    width: 100px;
    display: block;
    position:absolute; left: 60px; top: 170px;
}  
.buttoni6 {
    background-color: azure; /* Green */
    border: none;
    cursor: pointer;
   height:30px;
    width: 100px;
    display: block;
    position:absolute; left: 60px; top: 235px;
}  
.buttoni7 {
    background-color: turquoise; /* Green */
    border: none;
    cursor: pointer;
    height:30px;
    width: 100px;
    display: block;
    position:absolute; left: 60px; top: 300px;
}  
.button2 {
    background-color: green; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 850px; top: 390px;
}  
.button3 {
    background-color: red; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 770px; top: 400px;
}  
.buttonb1 {
    background-color: red; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 630px; top: 480px;
}  
.buttonb2 {
    background-color: green; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 500px; top: 370px;
}  
.buttonb3 {
    background-color: sandybrown; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 600px; top: 570px;
}  
.buttonb4 {
    background-color: aqua; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 800px; top: 500px;
}  
.buttonb5 {
    background-color: magenta; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 750px; top: 260px;
} 
.buttonc1 {
    background-color: red; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 720px; top: 250px;
}  
.buttonc2 {
    background-color: green; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 830px; top: 320px;
}  
.buttonc3 {
    background-color: sandybrown; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 600px; top: 250px;
}  
.buttonc4 {
    background-color: aqua; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 540px; top: 210px;
}  
.buttonc5 {
    background-color: cornflowerblue; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 540px; top: 270px;
}  
.buttonc6 {
    background-color: magenta; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 460px; top: 395px;
}  
.buttonc7 {
    background-color: lawngreen; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 680px; top: 480px;
}  
.buttonc12 {
    background-color: gold; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 700px; top: 100px;
}  
.buttonc15 {
    background-color: palegoldenrod; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 780px; top: 470px;
}  
.button1 {
    background-color: yellow; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 950px; top: 360px;
}  
.button4 {
    background-color: purple; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 710px; top: 450px;
}  
.button6 {
    background-color: aqua; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 760px; top: 260px;
}  
.button7 {
    background-color: salmon; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 820px; top: 150px;
}  
.button8 {
    background-color: khaki; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 900px; top: 100px;
}  
.button9 {
    background-color: indigo; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 525px; top: 600px;
}  
.button10 {
    background-color: hotpink; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 540px; top: 660px;
}  
.button11 {
    background-color: lemonchiffon; /* Green */
    border: none;
    cursor: pointer;
    height:50px;
    width: 50px;
    display: block;
    position:absolute; left: 580px; top: 420px;
}  
.h1{
    font-size: 36px;
    color: whitesmoke;
}
.w3-bar .w3-bar-item1 {
	padding: 8px 16px;
	float: left;
	width: 50%;
	border: none;
	display: block;
	outline: 0
}
.w3-button1:hover {
	color: #000!important;
	background-color: transparent;
}
.w3-button1, .w3-button2 {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap
}
#header{
    background-color:#72504E;
}
.carousel-inner img {
      width: 100%;
}
.caroul1 {
      width: 500px;
}
table, th, td {
    border: none;
    padding: 18px;
}
.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none
}

.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 1px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #000\9;
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	border-radius: 10px
}

.carousel-indicators .active {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: #fff
}
.caroul1img{
    width:500px;
    height:500px;
}